body {
    /*text-align: center;*/
}
.cell {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #aaa;
    background: #f8f8f8;
    margin-right: 4px;
}
.active {
    background-color: #058BDA;
}
.guess-true {
    background-color: #00CC00;
}
.guess-false {
    background-color: #CC0000
}
.footer {
    font-size: 2.5em;
}

.active-box {
    box-shadow: 0px 0px 10px 5px rgba(5,139,218,0.6);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(5,139,218,0.6);
    -moz-box-shadow: 0px 0px 10px 5px rgba(5,139,218,0.6);
}
