body {
     padding-top: 100px;
    /*text-align: center;*/
}
.cell {
    width: 50px;
    height: 50px;
    display: inline-block;
     /* border: 1px solid #aaa; */
    background: #f8f8f8;
    margin-right: 4px;
}
.active {
    background-color: #268BD2 !important;
}
.good-move {
    background-color: #2AA198;
}
.bad-move {
    background-color: #CB4B16;
}

.light-green {
    color: #31D57C
}

.light-pink {
    color: #AE6086
}

.big-play {
    font-size: 3.2em;
}

.small-icon {
    font-size: 1.8em;
}

.guess-true {
    background-color: #00CC00;
}
.guess-false {
    background-color: #CC0000
}
.footer {
    font-size: 2.5em;
}

.active-box {
    box-shadow: 0px 0px 10px 5px rgba(5,139,218,0.6);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(5,139,218,0.6);
    -moz-box-shadow: 0px 0px 10px 5px rgba(5,139,218,0.6);
}

.cell-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 1px;
    position: relative;
}

.pedestrianWalking {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.pink {
    background-color: #AE6086
}

.green {
    background-color: #31D57C
}

.dark-blue {
    /* background-color: #041E39 */
}

.light-blue {
    background-color: #3F578E
}

.light-white {
    background-color: #FCFAF4
}

.cell-back-ground {
     background-color: #002b36
}
